In [34]:
import pandas as pds
import numpy as npy
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from scipy.spatial.distance import hamming

In [23]:
diabetes = pds.read_csv("diabetes.csv")
diabetes.head(6)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0

[6 rows x 9 columns]

In [24]:
diabetes.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [25]:
print("Number of rows in the dataset : ", diabetes.shape[0])
training_data, testing_data = train_test_split(diabetes, test_size=0.2, random_state=25)

Number of rows in the dataset :  768

In [26]:
training_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   614.000000  614.000000  ...  614.000000  614.000000
mean      3.842020  121.293160  ...   33.526059    0.353420
std       3.409438   32.329746  ...   11.706657    0.478422
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  141.000000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   72.000000    1.000000

[8 rows x 9 columns]

In [30]:
model = GaussianNB()
model.fit(training_data.iloc[:,0:8], training_data.iloc[:,8])

GaussianNB(priors=None, var_smoothing=1e-09)

In [38]:
predicted_data = model.predict(testing_data.iloc[:,0:8])
hamming_distance = hamming(predicted_data, testing_data.iloc[:, 8])
accuracy = 1-hamming_distance
print("Accuracy (in percentage) : ", accuracy*100)

Accuracy (in percentage) :  76.62337662337663